<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.ddxb.mapper.DdxbStudentMapper">

    <!-- 教师查看学生信息 -->
    <select id="queryStudent" parameterType="map" resultType="map">

        SELECT p.id,p.name,
        group_concat(p1.gender,"-",p1.phone_number ORDER BY p1.gender DESC) as parent
        FROM (SELECT s.id as id,s.stu_name as name
        FROM ddxb_student s
        <where>
            <if test="null!=teacherId and ''!=teacherId">
                s.teacher_id = #{teacherId}
            </if>
        </where>
        ) p LEFT JOIN ddxb_parent p1 ON p.id = p1.stu_id
        GROUP BY p.id,p.name
    </select>


    <insert id="saveStudent" parameterType="tech.ddxb.model.DdxbStudent">
       INSERT INTO ddxb_student(
        id,
        `teacher_id`,
        `stu_name`,
        `father_phone`,
        `mother_phone`,
        `create_time`,
        `update_time`
        )
         VALUES (
        #{id},
        #{teacherId},
        #{stuName},
        #{fatherPhone},
        #{motherPhone},
        now(),
        now()
        )

    </insert>

    <update id="updateStudent" parameterType="tech.ddxb.model.DdxbStudent">
        UPDATE ddxb_student
        SET
        teacher_id = #{teacherId},
        stu_name = #{stuName},
        father_phone = #{fatherPhone},
        mother_phone = #{motherPhone},
        update_time = now()
        WHERE id = #{id}
    </update>

    <select id="getDdxbStudentById" parameterType="long" resultType="tech.ddxb.model.DdxbStudent">
        SELECT
        id as id,
        teacher_id as teacherId,
        stu_name as stuName,
        father_phone as fatherPhone,
        mother_phone as motherPhone,
        create_time as createTime,
        update_time as updateTime
        FROM ddxb_student
        WHERE id = #{id}
    </select>

</mapper>