<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.ddxb.mapper.DdxbParentMapper">

    <insert id="saveParent" parameterType="tech.ddxb.model.DdxbStudent">
       INSERT INTO ddxb_student(
        id,
        `stu_id`,
        `weixin_acount`,
        `head_img`,
        `nick_name`,
        `gender`,
        `parent_name`,
        `phone_number`,
        `create_time`,
        `update_t_ime`
        )
         VALUES (
         #{id},
        #{teacherId},
        #{stuName},
        now(),
        now
        )
    </insert>

    <update id="updateParent">

    </update>

</mapper>